@keyframes firstload {
  0% {
  	left: 470px;
  }
  100% {
  	left: 496px;
  }
}

@keyframes firstload--high {
	0% {
		left: 628px;
	}
	100% {
		left: 664px;
	}
}

@keyframes arrow {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(10px);
	}
	100% {
		transform: translatey(0px);
	}
}