@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes firstload {
  0% {
    left: 470px;
  }
  100% {
    left: 496px;
  }
}

@keyframes firstload {
  0% {
    left: 470px;
  }
  100% {
    left: 496px;
  }
}

@-webkit-keyframes firstload--high {
  0% {
    left: 628px;
  }
  100% {
    left: 664px;
  }
}

@keyframes firstload--high {
  0% {
    left: 628px;
  }
  100% {
    left: 664px;
  }
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

* {
  font-family: "montserrat", "sans-serif";
  margin: 0;
  padding: 0;
  color: black;
  letter-spacing: normal;
}

body {
  background-color: #F9F5F1;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
}

.title {
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  position: fixed;
  -webkit-transform: none;
          transform: none;
  top: 60px;
  z-index: 1;
  -webkit-animation: 1.5s opacity ease-out;
          animation: 1.5s opacity ease-out;
}

@media only screen and (max-width: 768px) {
  .title {
    top: 30px;
  }
}

.title .title__name {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px;
  left: calc(8.33333% - 21.66667px + 20px);
  position: relative;
  font-size: 21px;
  margin-top: -4px;
}

@media only screen and (min-width: 1440px) {
  .title .title__name {
    font-size: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .title .title__name {
    width: calc(83.33333% - 36.66667px);
    float: left;
    margin-left: 20px;
  }
}

.title .title__job {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px;
  text-align: center;
}

@media only screen and (min-width: 1440px) {
  .title .title__job {
    font-size: 21px;
  }
}

@media only screen and (max-width: 768px) {
  .title .title__job {
    width: calc(83.33333% - 36.66667px);
    float: left;
    margin-left: 20px;
    left: calc(8.33333% - 21.66667px + 20px);
    position: relative;
    top: 30px;
    position: absolute;
    text-align: left;
  }
}

.header {
  position: relative;
}

.header::after {
  clear: both;
  content: "";
  display: block;
}

.header .header__number {
  width: calc(83.33333% - 36.66667px);
  float: left;
  margin-left: 20px;
  left: calc(16.66667% - 23.33333px + 20px);
  position: relative;
  margin-top: 45px;
  margin-left: 120px;
  position: fixed;
  font-size: 450px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .header .header__number {
    margin-top: 200px;
    font-size: 280px;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1440px) {
  .header .header__number {
    font-size: 600px;
    margin-top: 200px;
  }
}

.header .header__number:after {
  content: '';
  position: absolute;
  top: 167px;
  left: 496px;
  width: 7px;
  height: 269px;
  background-color: black;
  -webkit-transform: skew(-23.5deg, 0deg);
          transform: skew(-23.5deg, 0deg);
  -webkit-animation: firstload 1s ease-out;
          animation: firstload 1s ease-out;
}

@media only screen and (max-width: 768px) {
  .header .header__number:after {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .header .header__number:after {
    top: 224px;
    left: 664px;
    width: 9px;
    height: 357px;
    -webkit-animation: firstload--high 1s ease-out;
            animation: firstload--high 1s ease-out;
  }
}

#content .headline {
  border-top: 3px solid black;
  margin-top: 100px;
  padding-top: 10px;
  margin-bottom: 100px;
  font-size: 25px;
}

@media only screen and (min-width: 1440px) {
  #content .headline {
    font-size: 30px;
  }
}

#content .headline .headline__number {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  #content .headline .headline__number {
    width: calc(33.33333% - 26.66667px);
    float: left;
    margin-left: 20px;
    font-size: 20px;
  }
}

#content .headline .headline__subtext {
  width: calc(75% - 35px);
  float: left;
  margin-left: 20px;
  text-align: right;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  #content .headline .headline__subtext {
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px;
    font-size: 20px;
  }
}

#content .aboutme {
  position: relative;
}

#content .aboutme .aboutme__portret {
  left: calc(8.33333% - 21.66667px + 20px);
  position: relative;
  width: calc(58.33333% - 31.66667px);
  float: left;
  margin-left: 20px;
  margin-bottom: 120px;
}

@media only screen and (max-width: 768px) {
  #content .aboutme .aboutme__portret {
    left: calc(0% - 20px + 20px);
    position: relative;
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  #content .aboutme .aboutme__portret {
    left: calc(16.66667% - 23.33333px + 20px);
    position: relative;
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
  }
}

#content .aboutme .aboutme__firstname {
  left: calc(50% - 30px + 20px);
  position: relative;
  position: absolute;
  top: 250px;
  font-size: 100px;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  #content .aboutme .aboutme__firstname {
    font-size: 70px;
    top: 219px;
    left: 14px;
  }
}

@media only screen and (min-width: 1440px) {
  #content .aboutme .aboutme__firstname {
    left: calc(58.33333% - 31.66667px + 20px);
    position: relative;
    position: absolute;
    font-size: 130px;
  }
}

#content .aboutme .aboutme__surname {
  left: calc(50% - 30px + 20px);
  position: relative;
  position: absolute;
  top: 250px;
  font-size: 60px;
  margin-top: 100px;
  margin-left: 4.5px;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  #content .aboutme .aboutme__surname {
    font-size: 50px;
    top: 190px;
    left: 11px;
  }
}

@media only screen and (min-width: 1440px) {
  #content .aboutme .aboutme__surname {
    left: calc(58.33333% - 31.66667px + 20px);
    position: relative;
    position: absolute;
    font-size: 80px;
    margin-top: 125px;
  }
}

#content .aboutme .aboutme__intro {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px;
  left: calc(8.33333% - 21.66667px + 20px);
  position: relative;
  margin-top: 200px;
}

@media only screen and (max-width: 768px) {
  #content .aboutme .aboutme__intro {
    left: calc(0% - 20px + 20px);
    position: relative;
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  #content .aboutme .aboutme__intro {
    left: calc(16.66667% - 23.33333px + 20px);
    position: relative;
    width: calc(16.66667% - 23.33333px);
    float: left;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 260px;
  }
}

#content .aboutme .aboutme__intro .aboutme__intro__study {
  margin-top: 20px;
}

#content .aboutme .aboutme__intro .aboutme__intro__signature {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  #content .aboutme .aboutme__intro .aboutme__intro__signature {
    width: calc(83.33333% - 36.66667px);
    float: left;
    margin-left: 20px;
  }
}

#content .work .work__item {
  left: calc(8.33333% - 21.66667px + 20px);
  position: relative;
  width: calc(83.33333% - 36.66667px);
  float: left;
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  #content .work .work__item {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    left: calc(0% - 20px + 20px);
    position: relative;
  }
}

@media only screen and (min-width: 1440px) {
  #content .work .work__item {
    left: calc(16.66667% - 23.33333px + 20px);
    position: relative;
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px;
  }
}

#content .work .work__item .work__item__image {
  width: 100%;
}

#content .work .work__item .work__item__header {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  #content .work .work__item .work__item__header {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  #content .work .work__item .work__item__header {
    font-size: 35px;
  }
}

#content .work .work__item .work__item__link {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px;
  position: absolute;
  margin-top: -5px;
  margin-left: -3px;
  margin-bottom: 10px;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 768px) {
  #content .work .work__item .work__item__link {
    width: calc(83.33333% - 36.66667px);
    float: left;
    margin-left: 20px;
    position: relative;
    margin-left: -5px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1440px) {
  #content .work .work__item .work__item__link {
    font-size: 15px;
  }
}

#content .work .work__item .work__item__info :last-child {
  margin-bottom: 60px;
}

#content .work .work__item .work__item__info .work__item__text {
  width: calc(58.33333% - 31.66667px);
  float: left;
  margin-left: 20px;
  left: calc(16.66667% - 23.33333px + 20px);
  position: relative;
  padding-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  #content .work .work__item .work__item__info .work__item__text {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    left: calc(0% - 20px + 20px);
    position: relative;
  }
}

@media only screen and (min-width: 768px) {
  #content .work .work__item .work__item__info .project--morewidth {
    width: calc(75% - 35px);
    float: left;
    margin-left: 20px;
  }
}

#content .work .work__item .work__item__underline {
  left: calc(16.66667% - 23.33333px + 20px);
  position: relative;
  width: calc(83.33333% - 36.66667px);
  float: left;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 3px solid black;
  margin-bottom: 200px;
}

@media only screen and (max-width: 768px) {
  #content .work .work__item .work__item__underline {
    left: calc(0% - 20px + 20px);
    position: relative;
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
  }
}

#content .work .work__item .work__item__underline .work__item__tools {
  margin-bottom: 10px;
  margin-right: 30px;
}

#content .work .work__item .project--nomarginbottom {
  margin-bottom: 50px;
}

#content .subwork {
  left: calc(8.33333% - 21.66667px + 20px);
  position: relative;
  width: calc(91.66667% - 38.33333px);
  float: left;
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  #content .subwork {
    left: calc(0% - 20px + 20px);
    position: relative;
  }
}

@media only screen and (min-width: 1440px) {
  #content .subwork {
    left: calc(16.66667% - 23.33333px + 20px);
    position: relative;
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px;
  }
}

#content .subwork .subwork__header {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

#content .subwork .subwork--pushleft {
  margin-left: -20px;
}

#content .subwork .subwork__item {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-right: 10px;
  width: 300px;
  min-height: 270px;
}

#content .subwork .subwork__item .subwork__item__image {
  width: 100%;
  height: 200px;
  background-size: cover;
}

#content .subwork .subwork__item .subwork__item__header {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
}

#content .project {
  margin-top: 150px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  #content .project {
    left: calc(8.33333% - 21.66667px + 20px);
    position: relative;
    width: calc(83.33333% - 36.66667px);
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  #content .project {
    left: calc(16.66667% - 23.33333px + 20px);
    position: relative;
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px;
  }
}

#content .project .project__number {
  width: calc(83.33333% - 36.66667px);
  float: left;
  margin-left: 20px;
  left: calc(16.66667% - 23.33333px + 20px);
  position: relative;
  position: fixed;
  top: 45px;
  font-size: 450px;
  font-weight: 700;
  opacity: 0.05;
  z-index: 0;
}

#content .project .project__number:after {
  content: '';
  position: absolute;
  top: 167px;
  left: 496px;
  width: 7px;
  height: 269px;
  background-color: black;
  -webkit-transform: skew(-23.5deg, 0deg);
          transform: skew(-23.5deg, 0deg);
  -webkit-animation: firstload 1s ease-out;
          animation: firstload 1s ease-out;
}

@media only screen and (max-width: 768px) {
  #content .project .project__number:after {
    display: none;
  }
}

#content .project .project__terug {
  width: calc(66.66667% - 33.33333px);
  float: left;
  margin-left: 20px;
  left: calc(8.33333% - 21.66667px + 20px);
  position: relative;
  font-style: italic;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  #content .project .project__terug {
    left: calc(0% - 20px + 20px);
    position: relative;
  }
}

@media only screen and (min-width: 1440px) {
  #content .project .project__terug {
    left: calc(16.66667% - 23.33333px + 20px);
    position: relative;
  }
}

#content .project .project__header {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 500;
}

#content .project .project__images {
  margin-top: -100px;
}

#content .project .project__images .project__image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.contact {
  width: calc(83.33333% - 36.66667px);
  float: left;
  margin-left: 20px;
  left: calc(8.33333% - 21.66667px + 20px);
  position: relative;
}

@media only screen and (min-width: 1440px) {
  .contact {
    left: calc(16.66667% - 23.33333px + 20px);
    position: relative;
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px;
  }
}

.contact .contact__credentials {
  margin-top: 10px;
}

.contact .contact__other .contact__other__title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 500;
}

.contact .contact__other .contact__other__linkedin, .contact .contact__other .contact__other__instagram, .contact .contact__other .contact__other__twitter {
  margin-top: 5px;
}

.contact .contact__other .contact__other__linkedin:hover, .contact .contact__other .contact__other__instagram:hover, .contact .contact__other .contact__other__twitter:hover {
  text-decoration: underline;
}

.footer {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px;
  border-top: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 21px;
  font-weight: 500;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 800px;
  margin-bottom: 20px;
  padding-top: 10px;
}

@media only screen and (min-width: 1440px) {
  .footer {
    width: calc(83.33333% - 36.66667px);
    float: left;
    margin-left: 20px;
    left: calc(8.33333% - 21.66667px + 20px);
    position: relative;
  }
}

.arrow {
  margin-top: calc(89vh);
  font-size: 50px !important;
  width: 100%;
  text-align: center;
  -webkit-animation: arrow 3s infinite;
          animation: arrow 3s infinite;
}

.arrow__circle {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 20px;
  padding-right: 12px;
}

@media only screen and (min-width: 1440px) {
  .arrow__circle {
    padding-right: 9px;
  }
}

.aside--left {
  width: calc(58.33333% - 31.66667px);
  float: left;
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  .aside--left {
    width: calc(83.33333% - 36.66667px);
    float: left;
    margin-left: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .aside--left {
    left: calc(8.33333% - 21.66667px + 20px);
    position: relative;
  }
}

.aside--right {
  width: calc(58.33333% - 31.66667px);
  float: left;
  margin-left: 20px;
  left: calc(41.66667% - 28.33333px + 20px);
  position: relative;
}

@media only screen and (max-width: 768px) {
  .aside--right {
    width: calc(83.33333% - 36.66667px);
    float: left;
    margin-left: 20px;
    left: calc(16.66667% - 23.33333px + 20px);
    position: relative;
  }
}

@media only screen and (min-width: 1440px) {
  .aside--right {
    left: calc(33.33333% - 26.66667px + 20px);
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */