@import 'variables';
@import 'neat/neat';

* {
	font-family: $montserrat, 'sans-serif';
	margin: 0;
	padding: 0;
	color: black;
	letter-spacing: normal;
}

body {
	background-color: $white-yellow;
	min-height: 2000px;
}

a {
	text-decoration: none;
}

.title {
	font-size: 21px;
	text-transform: uppercase;
	position: sticky;
	top: 30px;
	@include grid-container();

	.title__name {
		@include grid-column(4);
	}

	.title__job {
		text-align: center;
		@include grid-column(4);
	}

	.title__nav {
		text-align: right;
		@include grid-column(4);
	}
}

.header {
	@include grid-container();
	position: relative;

	.header__number {
		@include grid-column(11);
		@include grid-shift(1);

		margin-top: 50px;
		position: fixed;
		font-size: 400px;
		font-weight: $font-bold;
	}
}

.footer{
	@include grid-column(12);
	border-top: 3px solid $black;
	display: flex;
	flex-direction: row;
	font-size: 21px;
	font-weight: $font-medium;
	justify-content: space-between;
	margin-top: 800px;
	padding-top: 10px;

	.footer__name {
	}

	.footer__year {
	}
}