@import 'neat/neat';
@import 'variables';
@import 'animations';

* {
	font-family: $montserrat, 'sans-serif';
	margin: 0;
	padding: 0;
	color: black;
	letter-spacing: normal;
}

body {
	//for visual purposes, lets you see the actual
	@include grid-visual;

	background-color: $white-yellow;
	overflow-x: hidden;
	position: relative;
}

a {
	text-decoration: none;
}

.title {
	width: 100%;
	font-size: 16px;
	text-transform: uppercase;
	position: fixed;
	transform: none;
	top: 60px;
	z-index: 1;
	animation: 1.5s opacity ease-out;
	
	.title__name {
		@include grid-column(4);
		@include grid-shift(1);

		font-size: 21px;
		margin-top: -4px;

		@media only screen and (max-width: $tablet-max) {
			@include grid-column(10);
		}
	}

	.title__job {
		@include grid-column(4);

		text-align: center;
		
		@media only screen and (max-width: $tablet-max) {
			@include grid-column(10);
			@include grid-shift(1);

			top: 30px;
			position: absolute;
			text-align: left;
		}
	}
}

.header {
	@include grid-container();

	position: relative;

	.header__number {
		@include grid-column(10);
		@include grid-shift(2);

		margin-top: 45px;
		margin-left: 120px;
		position: fixed;
		font-size: 450px;
		font-weight: $font-bold;

		@media only screen and (min-width: $desktop-high) {
			font-size: 600px;
		}

		// @media only screen and (max-width: $tablet-max) {
		// 	font-size: 250px;
		// 	margin-top: 200px;
		// 	margin-left: 0px;
		// }

		&:after {
			content: '';
			position: absolute;
			top: 167px;
			left: 496px;
			width: 7px;
			height: 269px;
			background-color: black;
			transform: skew(-23.5deg, 0deg);
			animation: firstload 1s ease-out;

			@media only screen and (min-width: $desktop-high) {
				top: 224px;
				left: 664px;
				width: 9px;
				height: 357px;
				animation: firstload--high 1s ease-out;
			}
		}
	}
}

.arrow {
	margin-top: calc(89vh);
	font-size: 50px !important;
	width: 100%;
	text-align: center;
	animation: arrow 3s infinite;
}

.arrow__circle {
	transform: rotate(-90deg);
	font-size: 20px;
	padding-right: 12px;
}

.main {
	margin-top: 50px;

	.headline {
		border-top: 3px solid $black;
		padding-top: 10px;
		margin-bottom: 100px;
		font-size: 25px;

		.headline__number {
			@include grid-column(3);
		}

		.headline__subtext {
			@include grid-column(9);

			text-align: right;
			font-weight: $font-medium;
		}
	}

	.aboutme {
		position: relative;

		.aboutme__portret {
			@include grid-shift(1);
			@include grid-column(7);

			margin-bottom: 120px;

			@media only screen and (min-width: $desktop-high) {
				@include grid-shift(2);
				@include grid-column(6);
			}
		}

		.aboutme__firstname {
			@include grid-shift(6);

			position: absolute;
			top: 150px;
			font-size: 100px;
			font-weight: $font-medium;

			@media only screen and (min-width: $desktop-high) {
				@include grid-shift(7);

				position: absolute;
			}
		}

		.aboutme__surname {
			@include grid-shift(6);

			position: absolute;
			top: 150px;
			font-size: 60px;
			margin-top: 100px;
			margin-left: 4.5px;
			font-weight: $font-medium;

			@media only screen and (min-width: $desktop-high) {
				@include grid-shift(7);

				position: absolute;
			}
		}

		.aboutme__intro {
			@include grid-column(3);
			@include grid-shift(1);

			margin-top: 200px;

			@media only screen and (min-width: $desktop-high) {
				@include grid-shift(2);
				@include grid-column(2);
			}

			.aboutme__intro__study {
				margin-top: 20px;
			}

			.aboutme__intro__signature {
				@include grid-column(12);

				@media only screen and (min-width: $desktop-high) {

				}
			}
		}
	}
	.work {

		.work__item {
			@include grid-shift(1);
			@include grid-column(10);

			// @media only screen and (min-width: $desktop-high) {
				// 	@include grid-shift(2);
				// 	@include grid-column(9);
				// }
				
			.work__item__image {
				width: 100%;
				
			}

			.work__item__header {
				margin: 0;
				padding: 0;
				font-size: 30px;
				font-weight: $font-medium;
				margin-top: 30px;
				margin-bottom: 40px;
			}

			.work__item__link {
				@include grid-column(2);
				margin-top: -5px;
				margin-left: -3px;
				font-size: 10px;

			}

			.work__item__text {
				@include grid-column(7);
				margin-left: 41px;
				height: 200px;
			}

			.work__item__underline {
				@include grid-shift(2);
				@include grid-column(10);

				border-bottom: 3px solid $black;
				margin-bottom: 200px;
			}
		}
	}
}


.footer{
	@include grid-column(12);

	border-top: 3px solid $black;
	display: flex;
	flex-direction: row;
	font-size: 21px;
	font-weight: $font-medium;
	justify-content: space-between;
	margin-top: 800px;
	margin-bottom: 20px;
	padding-top: 10px;

	@media only screen and (min-width: $desktop-high) {
		@include grid-column(10);
		@include grid-shift(1);
	}

}
.aside--left {
	@include grid-column(7);

	@media only screen and (min-width: $desktop-high) {
		@include grid-shift(1);
	}
}

.aside--right {
	@include grid-column(7);
	@include grid-shift(5);

	@media only screen and (min-width: $desktop-high) {
		@include grid-shift(4);
	}
}